#search_form {
    text-align: center;
}
#search {
    font-size: 1.2em;
    margin: 10px auto;
}

#list {
    float: left;
    width: 250px;
    height: 500px;
    overflow: auto;
    border: 1px solid gray;
}

#list div.item {
    widh: 100%;
    border-bottom: 1px solid gray;
    padding: 2px 3px;
}

#list div.item.suited {
    background-color: #ccf;
}
#list div.item.unknown {
    background-color: #ffc;
}
#list div.item.unsuited {
    background-color: #fcc;
}
#list div.item h2 {
    font-size: 1em;
    margin: 0;
}
#list div.item div.desc {
    font-size: 0.8em;
}

#map {
    float: left;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
}
